[user]
	name = Thomas Skovlund Hansen
	email = thomasskovlundhansen@gmail.com
[github]
	name = Thomas Skovlund Hansen
	email = thomasskovlundhansen@gmail.com
	user = tskovlund
[core]
	editor = vim
[alias]
	fancylog = log --graph --oneline --decorate
	flog = log --graph --oneline --decorate
[color]
	ui = true
	interactive = true
